  /{
    chosen {
        zephyr,uart-mcumgr = &usbd;
    };                                                                                                                                                                                                             
};                         

&usbd {
    status = "okay";
};